/* PC  */
@media(min-width: 992px){
    
}

/* Tablet */
@media(min-width: 768px) and (max-width: 991.98px){
    

    /* -------gallery------- */
    .gallery {
        padding: 0 4rem;
    }
    .gallery .container {
        padding: 0 2.4rem;
    }
    .gallery__title {
        font-size: 4.2rem;
        line-height: 4.6rem;
        text-align: center;
    }

    .gallery .gallery__row {
        flex-direction: row;
        justify-content: center;
        gap: 1.6rem;
        padding: 3.2rem 0;
    }

    .gallery .gallery__row .gallery__image {
        width: 50%;
        height: 40rem;
        object-fit: cover;
        border-radius: 1.2rem;
    }

    .gallery .gallery__text {
        font-size: 2rem;
        line-height: 2.2rem;
        padding: 0;
    }
    /* --------cards--------- */
    .cards .container {
        padding: 0 4rem;
    } 
    .cards__row {
        width: 100%;
        flex-direction: column;
    }

    .cards__row--first {
        flex-direction: column-reverse;
        margin-bottom: 0.8rem;
    }
    .cards__row .card{
        width: 100%;
        height: auto;

    }
    .card .card__image{
        width:100%;
        height: auto;
        border-radius: 1.6rem;
        
    }
    .card--text {
        position: static !important; 
        padding: 0.8rem;
        height: auto; 
    }
    .card--text .card__header{
        padding: 0 2.4rem;
        font-size: 4.2rem;
        line-height: 4.2rem;
    }
    .card--text .card__frame {
        position: static !important; 
        bottom: auto;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        padding: 0;
    }
    .card__content .card__title{
        padding: 0 2.4rem;
        font-size: 2.4rem;
        line-height: 3.0rem;
    }

    .card__content .card__desc{
        padding: 0 2.4rem;
        font-size: 1.8rem;
    }
  
}

/* Mobile */
@media(max-width: 767.98px){
    .container{
        padding: 0 0.8rem ;
        width: 100%;
    }
    /* -------gallery------- */
    .gallery{
        padding: 0;
    }
    .gallery .container {
        padding: 0 0.8rem;
    }
    .gallery__title {
        font-size: 3.2rem;
    }
    .gallery .gallery__row{
        gap: 0.2rem;
        padding: 2.4rem 0;
    }
    .gallery .gallery__row .gallery__image {
        width: 100%;
        height: 28.9rem;
    }
    .gallery .gallery__text {
        font-size: 1.4rem;
        padding: 0;
    }

    /* --------cards--------- */

    .cards .container {
        padding: 0 0.8rem;
    }
    .cards__row {
        width: 100%;
        flex-direction: column;
        /* gap: 0.8rem; */
    }

    .cards__row--first {
        flex-direction: column-reverse;
        margin-bottom: 0.8rem;
    }
    .cards__row .card{
        width: 100%;
        height: auto;

    }
    .card .card__image{
        width:100%;
        height: auto;
        border-radius: 1.6rem;
        
    }
    .card--text {
        position: static !important; 
        padding: 0.8rem;
        height: 42rem; 
    }
    .card--text .card__header{
        padding: 0 0.8rem;
        font-size: 3.2rem;
        line-height: 4.2rem;
    }
    .card--text .card__frame {
        position: static !important; 
        bottom: auto;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        padding: 0;
    }
    .card__content .card__title{
        padding: 0 0.8rem;
        font-size: 1.8rem;
        line-height: 3.0rem;
    }

    .card__content .card__desc{
        padding: 0 0.8rem;
    }
}